*,
*::before {
  touch-action: none;
  }
*::after {
  box-sizing: border-box;
}

body {
  touch-action: none;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0;
  padding: 2px 2px;
  font-family: Helvetica, Sans-Serif;
float: left;
font-size: 10px;
}
.button1{
    width: 30vw;
    display: inline-block;
    margin: 0px;
    padding: 0px;
}
.button2{
    width: 30vw;
    display: inline-block;
    margin: 0px;
    padding: 0px;
}
.button3{
    width: 30vw;
    display: inline-block;
    margin: 0px;
    padding: 0px;
}
.containB{
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.signature-pad {
  position: -webkit-sticky;
  position:absolute; 
  bottom:0;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 100px!important;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  border: 1px solid #aaa;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.27), 0 0 1px rgba(0, 0, 0, 0.08) inset;
  border-radius: 2px;
  padding: 1px;
}

.signature-pad::before,
.signature-pad::after {
  position: relative;
  top: 0;
  overflow: hidden;
  z-index: -1;
  content: "";
  width: 40%;
  height: 10px;
  bottom: 30px;
  background: transparent;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

.signature-pad::before {
  left: 10px;
}
Hi
.signature-pad::after {
  right: 10px;
}

.signature-pad--body {
  position: absolute;
  bottom:0;
  position: -webkit-sticky;
  top: 1vh;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 1px solid #fff;
}

.signature-pad--body
canvas {
  position: relative;
  position: -webkit-sticky;
  top: 0;
  overflow: hidden;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  box-shadow: 0 0 1px rgba(5, 0, 0, 0.02) inset;
}

.signature-pad--footer {
  color: #fff;
  text-align: center;
  font-size: 2.2em;
  margin-top: 1px;
}

.signature-pad--actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1px;
}
.input {
  position: relative;
  display: block;
  float: right;
  margin: 0px;
  padding: 0px;
  top: 1%;
  transform: translateY(-1%);
}

.display-pad {
  position: absolute;
  overflow: scroll;
  font-size: 10px;
  width: 100%;
  height: 20%;
  max-width: 100%;
  max-height: 20%;
  border: 1px solid #ff0;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.27), 0 0 1px rgba(0, 0, 0, 0.08) inset;
  border-radius: 2px;
  padding: 1px;
}

.display-pad--body {
  position: absolute;
  overflow: scroll;
}

.display-pad--body
canvas {
  position: absolute;
  overflow: scroll;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 1px;
  box-shadow: 0 0 1px rgba(5, 0, 0, 0.02) inset;
}
.container{
  background-color: rgba(200,201,200);
  padding : 0px;
  margin : 0px auto;
  border : 2px solid white;
  display : grid;
  width : 70%;
}
.splash{
  cursor : pointer;
  position : fixed;
  top : 20%;
  left : 50%;
  height : 99%;
  width : 95%;
  transform : translate(-50%,-50%);    
  background-color: rgba(0,0,0);
  transition : all ease-in-out 600ms;
}
.hidden{
  transition : 0.5s;
  display : none;
}
.canvas  {
   text-size-adjust: none;
}

}
.splash-header {
  height : 80%;
  color : white;
  font-family : consolas;
  font-size : 6px;
  display : flex;
  justify-content: center;
  align-items : center;
}

body {
  background-color: rgba(200,200,255);


.btn {
/*   border : none; */
/*   padding : 10px; */
/*   position : fixed; */
  z-index : -1;
  left : 50%;
  transform : translateX(-50%);

}
.textarea {
   text-size-adjust: none;

}
.canvas  {
   font-size: 10px!important;

}
}
